#bannière 
{
   width: 2500px;
   height:700px;
}
 
#logo
{
   color: rgb(14, 128, 33);
}
h1
{
   color: rgb(95, 4, 4)
}

h2
{
   color: blue
}

.présentation
{ 
   font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif; 
   text-align: center;
   font-size: 24px;
}

.présentation2
{
   font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
   text-align: left
   font-size: 14px
}

h1
{
   text-align: center;
   font-size: 36px;
   font-style: italic;
}

header
{
   background-color: rgb(46, 1, 8);
}

li
{
   color: rgb(192, 154, 154);
   font-weight: bold;
   font-style: italic;
   font-size: medium;
}

#nav
{
padding: 0; margin:0;
text-align: right;
}

#nav li {
   display: inline;
   list-style: none;
}

#nav li
{
 display: inline-block;
 margin: 0 30px;  
}

#recette
{
   text-align: center;
   font-size: 24px;
}