#bannière 
{
   width: 2500px;
   height:700px;
}
 
#logo
{
   color: rgb(226, 128, 210);
}
h1
{
   color: rgb(95, 4, 4);
   text-align: center;
   font-size: 36px;
   font-style: italic;
}

#titre
{
   display: flex;
   justify-content: center;
}

h2
{
   color: blue;
   display: flex;
   justify-content: center;
   
   
}

.présentation
{ 
   font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif; 
   text-align: center;
   font-size: 24px;
}

.présentation2
{
   font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
   text-align: left;
   font-size: 24px
}

header
{
   background-color: rgb(46, 1, 8);
}

li
{
   color: white;
   font-weight: bold;
   font-style: italic;
   font-size: medium;
}

#nav
{
padding: 0; margin:0;
text-align: right;
}

#nav li 
{
   display: inline;
   list-style: none;
}

#nav li
{
 display: inline-block;
 margin: 0 30px;  
}

#recette
{
   text-align: center;
   font-size: 24px;
}

.espace
{
   height : 30px
}

th, td 
{
   padding: 20px
}

table
{
   margin: auto;
}

a
{
   text-decoration: none;
   color: rgb(200, 22, 165);
}

a:active
{
   background-color:  #FFCC66;
}

h3
{
   font-size: 30px;
}

td
{
   text-align: center;
}

#menu1, #menu2, #menu3
{
   border-top: 2px dotted rgb(46, 1, 8);
   border-bottom: 2px dotted rgb(46, 1, 8);
   border-left: 2px dotted rgb(46, 1, 8);
   border-right: 2px dotted rgb(46, 1, 8);
   border-radius: 60px;
   background-color: rgb(241, 181, 190);
}

#menu1, #menu2, #menu3
{
   
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-size: 25px;
   text-align: center;
}

.largeur
{
   width: 60%;
}

#menu1,
{
   line-height: 1;
}

#menu2, #menu3
{
   line-height: 2;
}

#menu2
{
 
}