
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
html, body {padding: 0;margin: 0;-webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  }
/* Reset CSS end */

#container {position: absolute;
            width: 300px;
			height: 250px; 
			cursor: pointer;background-color: #000;
            border: 1px solid #000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
            overflow: hidden;

}

.abs-h {position: absolute;top:0;left:0; opacity: 0}
.abs-v {position: absolute;top:0;left:0; opacity: 1}


#cta {position: absolute; top:207px;left:170px; opacity: 1; width:132px; height:32px; background: white;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('CTA_2x.png');
            background-color: transparent;

        }

#c1  {position: absolute; top:26px;  left:124px;  opacity:0;}
/*#c2  {position: absolute; top:22px;  left:146px; opacity:0;}*/
#c3  {position: absolute; top:70px;  left:91px;  opacity:0;}
#c4  {position: absolute; top:114px; left:126px;  opacity:0;}
#c5  {position: absolute; top:158px; left:57px;  opacity:0;}


#black {position: absolute;top:0;left:0; width: 300px; height: 250px; opacity: 0.1; background-color: black}


#f2_cap {top:0px;}
#f3_cap {top:0px;}
#f4_cap {top:0px;}
#f5_cap {top:0px;}

#f2_player {left:58px;}